.container {
  display: flex;
  margin: 50px;
  column-gap: 20px;
}
.scrollbar {
  color: whitesmoke;
  max-height: 250px;
  max-width: 600px;
  min-width: 600px;
  overflow: auto;
  padding: 10px 20px;
  background-color: rgb(22, 22, 22);
  white-space: nowrap;
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  white-space: nowrap;
}
#scrollbar6::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#scrollbar6::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: whitesmoke;
}

#scrollbar6::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(173, 14, 14);
}
.filter label{
  font-size: 20px;
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  margin-right: 10px;

}
.filter select {
  border: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 0 20px;
  height: 35px;
  font-family: "Roboto Condensed", sans-serif;
  margin-right: 10px;
  margin-bottom: 10px;
}

.filter button {
  height: 35px;
  width: 70px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  background-color: rgb(173, 14, 14);
  margin-bottom: 10px;
}
