.content {
  height: 100%;
}
.form {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px;
  align-items: baseline;
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
}
.form p {
  margin-right: 50px;
}
.form input {
  border: none;
  border-radius: 20px;
  font-size: 20px;
  padding: 0 20px;
  height: 40px;
  font-family: "Roboto Condensed", sans-serif;
  margin-right: 10px;
}
.form button {
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  background-color: rgb(173, 14, 14);
}
.form button:hover {
  background-color: rgb(210, 17, 17);
}

.list {
  display: flex;
  justify-content: center;
}
