.header {
    height: 12vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .monkey {
    height: 70px;
    width: auto;
  }